body{
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    
}
header {
    display: flex;
    background-color: crimson;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 100%;
    padding: 0px;
    
    position: sticky;
    top: 0px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img{
    height: 60px;
    padding-left: 5px;
}

.Nombre-local {
    text-align: left;
    padding: 10px;
    margin: 10px;
}

.Nav-Link, ul, li, a {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 12px;
    display: flex;
    list-style-type: none;
    padding: 3px;
    margin: 0px;
     
}

nav a:hover{
    color: white;
}

.Main-index{
    display: grid;
    outline: 2px solid black;
    object-fit: cover;
    margin: 10px;
}

.Main-h{
    position: relative;
    left: 250px;
    bottom: 15px;
    
}

.img-main1{
    height: 300px;
    width: 100%;
}